@use "../shared/media-queries" as screens;

.olk-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--color-gray-02-opacity-90);//**
    &__ads-container {
        @include screens.min-md1-max-md2 { display: none; }
        width: 100%;
        height: 70px;//**
        border-radius: 0 0 12px 12px;//**
        background-color: var(--color-gray-04);
        border: 1px solid var(--color-black-10-opacity);
        padding-left: 37px;//**
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include screens.min-md1 { &__profile-container { display: none; } }
        &__offer-container {
            display: flex;
            gap: 12px;//**
            &__icon {
                width: 25px;//**
                aspect-ratio: 1;
            }
            &__offer-title {
                font-weight: 500;
                &-styled { color: var(--color-orange); font-weight: 700; }
            }
        }
        &__next-container {
            height: 100%;
            display: flex;
            gap: 73px;//**
            &__address-container {
                display: flex;
                align-items: center;
                gap: 14px;//**
                &__icon {
                    width: 25px;//**
                    aspect-ratio: 1;
                }
                p { font-weight: 500; }
                &__address { color: var(--color-black-02); }
                &__option { color: var(--color-orange); }
            }
            &__cart-container {
                background-color: var(--color-green-02);
                border-radius: 0 0 12px 12px;
                border: 1px solid var(--color-black-10-opacity);
                display: flex;
                align-items: center;
                gap: 40px;//**
                padding: 15px 24px;//**
                &__basket-icon {
                    width: 43px;//**
                    aspect-ratio: 1;
                }
                p {
                    font-weight: 600;
                    color: var(--color-absolute-white);
                }
                &__forward-icon {
                    width: 38px;//**
                    aspect-ratio: 1;
                }
            }
        }
    }
    &__logo {
        width: 215px;
        height: 53px;
        object-fit: cover;
    }
    @include screens.max-md1 {
        &>:first-child { 
            display: flex; 
            flex-direction: column-reverse;
            &>:first-child { 
                border: none;
                border-radius: 0;
                width: 120%; 
                margin: 0 -6%;
                padding: 0;
                padding-left: clamp(19px, 5.5vw, 150px);
                background-color: var(--color-orange);
                &>*{ width: 100%; }
                &>:first-child { display: none; }
                &>:nth-child(2){
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                    p {
                        font-size: clamp(10px, 1.82vw, 14px);
                        font-weight: 600;
                        color: var(--color-absolute-white);
                    }
                    img {
                        width: 44px;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
                &>:last-child { 
                    &>:first-child { display: none; } 
                    &>:last-child { 
                        &>:nth-child(2), &>:nth-child(4) { display: none; } 
                        padding-right: clamp(19px, 5.5vw, 150px);
                        border-radius: 0; 
                        width: 87%;
                        display: flex;
                        justify-content: center;
                        p { font-size: clamp(10px, 1.82vw, 16px); }
                    }
                }
            }
        }
    }
    .navbar.navbar-inverse {
        background-color: transparent;
        margin: 38px 0 41px;
        @include screens.max-md1 { margin: 19px 0 20px; }
        border: none;
        .navbar-toggle {
            margin: 0;
            padding: 0;
            border: none;
        }
        .navbar-brand {
            height: auto;
        }
        a { padding: 0; }
        .navbar-nav {
            float: right;
            @include screens.max-md1 { float: none; }
            li {
                width: auto;
                height: 45px;//**
                padding: 0 1.5vw;
                display: grid;
                place-items: center;
                border-radius: 5px;//**
                background-color: transparent;
                border-color: transparent;
                a {
                    color: var(--color-black-01);
                    // font-size: 18px;//**
                    font-size: 1vw;
                    @include screens.max-md1 { font-size: 2.34vw; }
                    font-weight: 500;
                }
                &:hover { background-color: var(--color-orange); a { background-color: transparent; color: var(--color-absolute-white);} }
            }
        }
    }
    &__menu__login {
        background-color: var(--color-black-02) !important;
        a { color: var(--color-absolute-white) !important }
        .glyphicon {
            display: flex;
            gap: 0.3vw;
            font-weight: 500;
            &::before {
                color: var(--color-orange);
                width: 1.8vw;
                aspect-ratio: 1.15;
                padding-top: 3px;
            }
        }
    }
}