
//Desktop based font sizes
.font-12 { font-size: clamp(2px, 0.7vw, 18px); }
.font-13 { font-size: clamp(2.5px, 0.75vw, 19px); }
.font-14 { font-size: clamp(2.5px, 0.8vw, 20.5px); }
.font-15 { font-size: clamp(2.5px, 0.85vw, 22px); }
.font-16 { font-size: clamp(3px, 0.9vw, 23.5px); }
.font-17 { font-size: clamp(3px, 1vw, 25px); }
.font-18 { font-size: clamp(3.5px, 1vw, 26.5px); }
.font-20 { font-size: clamp(3.5px, 1.15vw, 29.5px); }
.font-21 { font-size: clamp(4px, 1.215vw, 31px); }
.font-22 { font-size: clamp(4px, 1.25vw, 32.5px); }
.font-24 { font-size: clamp(4.5px, 1.35vw, 35.5px); }
.font-26 { font-size: clamp(5px, 1.5vw, 38.5px); }
.font-28 { font-size: clamp(5px, 1.5vw, 41.5px); }
.font-32 { font-size: clamp(6px, 1.85vw, 47.5px); }
.font-36 { font-size: clamp(6.5px, 2.05vw, 53.5px); }
.font-42 { font-size: clamp(8px, 2.45vw, 62px); }
.font-44 { font-size: clamp(8px, 2.55vw, 65px); }
.font-54 { font-size: clamp(10px, 3.125vw, 80px); }
.font-64 { font-size: clamp(12px, 3.5vw, 95px); }
.font-84 { font-size: clamp(15.5px, 4.85vw, 124.5px); }